path {
  fill: none;
  stroke: black;
  stroke-width: black;
}

#container{
  width: 100%;
  max-width: 100%;
  height: 100px;
  background-color: rgba(100, 100, 100, .1);
}

.invite_yes {
background-color: rgba(123, 168, 183, 0.3) !important;
}

::-webkit-scrollbar {
background-color: rgba(0, 0, 0, 0);
width: 5px;
}

::-webkit-scrollbar-thumb {
background: rgb(166, 166, 166) !important;
border-radius: 10px;
width: 5px;
}

