
<div class="card-group">
{% for equb in active_equbs|slice:"0:3" %}
    <div class="col-md-4">
  <div class="card card-nav-tabs" style=" margin-left: 0px; margin-right: 0px; box-shadow:2px 2px 2px grey; margin-bottom: 20px; border-radius:20px 20px 20px 20px; background-color: rgba(200, 200, 200, .6);">
    <div class=" card-header" style="border-radius:10px 10px 10px 10px; background-color: rgb(123, 168, 183)">
      <div class="  nav-tabs-navigation">
        <div class="  nav-tabs-wrapper">
          <ul class="  nav nav-tabs"  data-tabs="tabs">
            <li class="  nav-item" >
              <a class=" nav-link active" href="#{{equb.name}}_status" data-toggle="tab">
              {{equb.name}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#{{equb.name}}_bid" data-toggle="tab">
              Bid
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding: 4px">
      <div class="tab-content text-center">
        <div class="tab-pane active" id="{{equb.name}}_status">
         <ul class="list-group list-group-flush" style="
                height: 159px;

                margin: 0px;
                overflow: overlay;
                overflow-x: hidden;s
                -webkit-overflow-scrolling: touch;">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark border-bottom">
              <b>Amount</b>
              <span class="badge badge-lg badge-success">${{equb.value}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark border-bottom">
                <b>Next Round</b>
                <span class="badge badge-primary">{{equb.balance_manager.print_delta}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark border-bottom">
              <b>Capacity</b>
              <span class="badge badge-lg badge-info">
              {{equb.capacity}}
              </span>
            </li>





          </ul>
             <div class="progress" >
            <div class="progress-bar bg-info" role="progressbar" style="width: {{equb.balance_manager.percent_completed}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
           <div class="card-footer text-muted justify-content-center"
               style="background-color: rgba(200, 200, 200, .6); border-radius: 0 0 10px 10px">
                Received/not-Received
          </div>
        </div>
        <div class="tab-pane" id="{{equb.name}}_bid">
                <ul class="list-group list-group-flush" style="
                height: 100px;

                margin: 0px;
                overflow: overlay;
                overflow-x: hidden;s
                -webkit-overflow-scrolling: touch;">
                  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark border-bottom">
                     <b>Highest Bid</b>
                      <span class="badge badge-success" id="{{equb.id}}_highest_bid">{{equb.get_highest_bid}}%</span>
                  </li>




                    </ul>
            <form action="" method="">
                    {% csrf_token %}
                  <div class="form-group no-border">
                    <input type="number" class="bid-amount {{equb.id}} form-control" name="bid_amount"  placeholder="Place Bid %">
                    <input type="hidden" class="form-control" name="equb_id" value="{{equb.id}}">
                  </div>
                  <button type="submit" id="{{equb.id}}" class="add-bid-button btn btn-primary btn-round">
                      <i class="material-icons"></i>Bid
                  </button>
              </form>
            </div>
      </div>
    </div>
  </div>
        </div>
    {% endfor %}
</div>


<script>


        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/moneypool'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            $(`#${data.equb_id}_highest_bid`)[0].innerText = `${data.bid_amount}%`;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        $('.add-bid-button').click( function(event) {
            event.preventDefault();
            const equb_id = this.id;
            const bid_amount = $(`.bid-amount.${equb_id}`)[0].value;

            chatSocket.send(JSON.stringify({
                'bid_amount': bid_amount,
                'equb_id': equb_id
            }));
        });
        </script>
