<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <h1>
        you are logged in as {{username}}. You have {{equb_count}} equb/s
    </h1>
    <br>
    <a href="{% url 'moneypool:create_equb' %}">create equb</a>
    <br>
    <a href="{% url 'moneypool:my_equbs' %}">my equbs</a>
    <br>
    <a href="{% url 'moneypool:search_equb' %}">Find and join equbs</a>
    <br>
    <br>
    <br>
    <a href="{% url 'moneypool:log_out' %}">log_out</a>
</body>
</html>