{% extends 'moneypool/base.html' %}
{% block content %}
<h2>pending equbs</h2>
    {% for equb in pending_equbs %}
        <li> {{equb.name}} </li>
    {% endfor %}
<h2>Active equbs</h2>
<ul>
<li><h4>Unreceived equbs</h4></li>
<form action="{% url 'moneypool:my_equbs' %}" method="post">
    {% csrf_token %}
    {% if unreceived_equbs %}
        <ul>
            {% for equb in unreceived_equbs %}
                <li>
                    ><input type="radio" name="equb_name" id="{{ equb.id }}" value= "{{ equb.name }}">
                    <label for="{{ equb.id }}"> {{equb.name}} highest bid: {{equb.bid.highest_bid}} </label>
                </li>
                <br>
            {% endfor %}
            <input type="submit" value="submit">
        </ul>
    {% endif %}
</form>
<li><h4>Received equbs</h4></li>
<ul>
    {% for equb in received_equbs %}
        <li> {{equb.name}} </li>
    {% endfor %}
</ul>
</ul>
<h2>Inactive equbs</h2>
<ul>
    {% for equb in inactive_equbs %}
        <li> {{equb.name}} </li>
    {% endfor %}
</ul>
{% endblock %}