{% extends 'moneypool/new_base.html' %}
<!--equb cards displayed in my equbs-->
{% block content %}


<script>

  changeTabTo("{{current_tab}}")

</script>




<div class="container " style="margin-bottom: 30px; margin-top: 0px; ">
  <div class="row justify-content-md-center">
    <div class="col-md-5 ">
      <div class="main" style=" padding: 5px ;border-radius: 20px; background-color: #fff; box-shadow:3px 3px 3px grey">
        <div class="nav nav-tabs justify-content-center" style="border-radius: 50px" >
<!--          <ul class=" nav nav-pills mynavs justify-content-center"  role="tablist">-->
<!--            <li class="nav-item mynav">-->
              <a class="btn nav-item nav-link active" href="#pending" role="tab" data-toggle="tab">
              Pending
              </a>
<!--            </li>-->
<!--            <li class="nav-item">-->
              <a class="btn nav-item nav-link" href="#active" role="tab" data-toggle="tab">
              Active
              </a>
<!--            </li>-->
<!--            <li class="nav-item">-->
              <a class="btn  nav-item nav-link" href="#history" role="tab" data-toggle="tab">
              History
              </a>
<!--            </li>-->
<!--          </ul>-->


        </div>
      </div>
    </div>
  </div>
</div>
  <div class="tab-content tab-space ">
    <div class="tab-pane active text-center gallery" id="pending">
      <div class="container" style="
      box-shadow:3px 3px 3px grey; background-color: #fff; border-radius: 40px 40px 40px 40px; padding:30px;">
        <div class="row">
          <div class="col-md-7 mr-auto">
            <h3 class='' style="text-align: left">Pending Equbs</h3>
          </div>
          <div class="col-md-5" style="text-align: right">
            <p>
            <button class="btn btn-primary"  type="button" data-toggle="collapse" data-target="#remaining_equb" aria-expanded="false" aria-controls="remaining_equb">
              <i class="bx bx-icon bx-down-arrow-alt" id="pending_toggle"></i>
            </button>

            </p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h5 class="text-muted" style="text-align: left"> Waiting for people to join. Send an invite!</h5>
          </div>
        </div>
        <hr>

          {% include 'moneypool/pending_equbs.html' %}
    </div>
    </div>
    <div class="tab-pane text-center gallery" id="active">
      <div class="container" style="
      box-shadow:3px 3px 3px grey; background-color: #fff; border-radius: 40px 40px 40px 40px; padding:30px;">
        <div class="row">
          <div class="col-md-7 mr-auto">
            <h3 class='' style="text-align: left">Active Equbs</h3>
          </div>
          <div class="col-md-5" style="text-align: right">
            <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#activecollapse" aria-expanded="false" aria-controls="activecollapse">
              <i class="bx bx-icon bx-down-arrow-alt"></i>
            </button>
            </p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h5 class="text-muted" style="text-align: left"> Place bid. Collect Equbs.</h5>
          </div>
        </div>
        <hr>
          {% include 'moneypool/active_equbs.html' %}
    </div>
    </div>
    <div class="tab-pane text-center gallery" id="history">
      <div class=" col-md-11 mr-auto ml-auto main main-raised" style="margin-top: 0px; padding: 20px; border-radius: 40px">
        <div class="row">
          <div class="col-md-5">
            <p class="h2" style="margin-bottom: 0"> Past Equbs</p>
          </div>
        </div>
        <hr>
        <div class="row">
          {% include 'moneypool/history.html' %}
        </div>
    </div>
  </div>
</div>

<button class="btn btn-lg btn-primary button-round" type="button" data-toggle="collapse" data-target="#create_collapse" aria-expanded="false"
        aria-controls="create_collapse" style=" position: fixed; bottom: 20px; right: 20px; ">
  <i class="bx bx-icon bx-plus"></i>
</button>

<div class="collapse " style="padding:0px; position: fixed; bottom: 100px; right: 20px; z-index:2000" id="create_collapse">
 <form action="{% url 'moneypool:create_equb' %}" method="post">
   {% csrf_token %}
  <div class="card" style="border-radius: 20px; position: fixed; bottom: 30px; right:10px; margin: 0px; padding: 20px; padding-top:0; background-color: rgba(230, 230, 230, 1); border: 5px solid rgb(123, 168, 183); width: 18rem; ">

    <div class="card-body">
        <div class="row justify-content-end">
            <div class="col-4">
                <button class="btn btn-lg btn-primary button-round" type="button" data-toggle="collapse" data-target="#create_collapse" aria-expanded="false"
                    aria-controls="create_collapse">
                    <i class="bx bx-icon bx-x-circle"></i>
                </button>
            </div>
        </div>
              <div class="row justify-content-start form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="private" required="" id="private_create" value="True">
                  <label class="form-check-label" for="private_create">private</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="private" required="" id="Public_create" value="False">
                  <label class="form-check-label" for="Public_create">public</label>
                </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Name</span>
                    <input class="form-control" type="text" name="name" maxlength="150" required="" id="id_name" placeholder="equb name">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <span class="form-label">Cycle</span>
                    <input class="form-control" type="text" name="cycle" value="1 00:00:00" required="" id="id_cycle">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Capacity</span>
                    <input class="form-control" type="number" name="capacity" step="1" required="" id="id_capacity" placeholder="1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">Value</span>
                    <input class="form-control" type="number" name="value" step="0.01" required="" id="id_value" placeholder="0">
                  </div>
                </div>
              </div>

              <button class="btn btn-primary button-round" type="submit" value="create" style="border-radius: 0px 0px 10px 10px ; color: white; background-color: rgb(123, 168, 183)">
                create
              </button>
            </div>

 </form>
</div>



{% endblock %}