<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nerko+One&subset=cyrillic">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'moneypool/css/log_in.css' %}?{% now 'U' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sign in</title>
</head>

<body style="font-family: Nerko+One;">
<div class="row">
<div class="col-5">
    <div class="logo">
    <h1><b> Equb Finance </b></h1>
    <h5 > Save and borrow directly with friends</h5>
</div>

    </div>
  <div class="col-5 main">
    <p class="sign" align="center">Log in</p>
    <form class="form1" method="post" action="{% url 'moneypool:log_in'%}">
         {% csrf_token %}
      <input class="un "  type="text" name="username" align="center" placeholder="Username">
      <input  class="pass" type="password" name="password" align="center" placeholder="Password">
      <button  class="log_in" type="submit" align="center">Sign in</button>
    </form>
       <hr>
        <a  class="sign_up" align="center" href="{% url 'moneypool:sign_up'%}">Create an account</a>
    </div>
</div>
</body>

</html>
