{% extends 'moneypool/new_base.html' %}
<!--equb cards displayed in my equbs-->
{% block content %}

  <input id="equb" type="text">
<button id="sub"> submit</button>

<p id="x">dxs </p>



<script>


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/moneypool'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#x').append(data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        document.querySelector('#sub').onclick = function(e) {
            const messageInputDom = document.querySelector('#equb');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };
        </script>
{% endblock %}
